In [34]:
import pandas as pd
import numpy as np

# Carga del archivo
df0 = pd.read_excel('../datas/Option_B/Balance Energetico resumido_DataConsolidada_Brasil_1970_2021_RMFP.xlsx')
df0=df0.applymap(lambda x: round(x, 2) if isinstance(x, (int, float)) else x)

# Imprime las primeras 5 filas de datos para confirmar que se ha leído correctamente
df0.columns
Year= df0["Año"]
Unit=df0["Unidad"]

In [46]:
df1=pd.read_excel('../datas/Option_B/Summarized enegy balance_Brazil_2021.xlsx', skiprows=range(2),skipfooter=1)

In [35]:
df=df0.drop(columns=['Año', 'Unidad'])
columns_1=df1.columns
columns=df.columns

In [36]:
df.columns = columns_1
df.rename(columns={'Unnamed: 0': 'Final Consumption'}, inplace=True)

In [47]:
#df.head()

In [48]:
#df1['Unnamed: 0']

In [41]:
# Create a dictionary with the mapping between the two columns
mapping = dict(zip(df['Final Consumption'].unique(),df1['Unnamed: 0']))

# Use the mapping to replace the values in 'Final Consumption' column of df
df['Final Consumption'] = df['Final Consumption'].replace(mapping)

# Replace 'Construcción y otros' by 'Constructuion and others
df['Final Consumption'] = df['Final Consumption'].replace('Construcción y otros', 'Construction and Others')
#Add the columns "Year" and Unit to the df

df["Year"]=Year
df["Unit"]=Unit

In [44]:
df

,Final Consumption,T.S. Oil derivatives,T.S. Coke + T.S. charcoal,T.S. Oil,T.S. Natural gas,T.S. Coal,T.S. Hydroenergy,T.S. Nuclear,T.S. Other primaries,T.S. Electricity,S.T. Firewood,O.T. Sugarcane and products,Year,Unit
0,Total supply,24833.79,1869.52,25664.25,180.02,2235.39,3421.52,NaN,223.24,3930.52,31851.53,3600.70,1970,10³ tep
1,Charcoal + Coke plants,375.32,1707.43,NaN,NaN,1483.73,NaN,NaN,NaN,NaN,3493.85,NaN,1970,10³ tep
2,Power plants,1184.49,NaN,NaN,NaN,464.09,3421.52,NaN,81.16,3932.24,12.70,88.99,1970,10³ tep
3,Refineries,24598.32,55.18,25535.85,104.22,158.93,NaN,NaN,NaN,NaN,NaN,NaN,1970,10³ tep
4,"Agriculture, fishing and mining",403.70,19.37,NaN,NaN,NaN,NaN,NaN,NaN,27.25,4900.69,NaN,1970,10³ tep
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,"Commercial, services, public",729.05,76.99,NaN,136.77,NaN,NaN,NaN,176.91,11346.64,81.99,NaN,2021,10³ tep
530,Industrial,13021.03,NaN,NaN,215.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,10³ tep
531,Non-energy consumption,10479.38,11210.49,NaN,8417.91,3497.42,NaN,NaN,8568.38,17209.25,7588.34,15418.50,2021,10³ tep
532,Residential,6507.29,411.72,NaN,454.97,NaN,NaN,NaN,716.94,12908.61,7422.22,NaN,2021,10³ tep
533,Transport,83101.33,NaN,NaN,1903.20,NaN,NaN,NaN,NaN,171.57,NaN,NaN,2021,10³ tep

In [50]:
#Save df as excel
file_path = '../datas/Option_B/Datas_cleaned/Summarized enegy balance_Brazil_1970_2021.xlsx'
df.to_excel(file_path)

In [86]:
# Load the file
file_path = '../datas/Option_B/Brazil_Energy balance matrix.xlsx'
#File excel with multi-sheet_names is read as an Dictionary
Dict = pd.read_excel(file_path, sheet_name=None, skiprows=range(4), skipfooter=3)

#Create an empty list to save the keys of Dictionary:
keys=[]

for k in Dict.keys():   
    # Append the keys into list
    keys.append(k_new)
    
    # Round the values of each column in dataframe with 2 decimals
    Dict[k]=Dict[k].applymap(lambda x: round(x, 2) if isinstance(x, (int, float)) else x)
    
    #Ignor the first row (unit) in each df
    Dict[k]=Dict[k][1:]
    
    #Rename of columns in df
    Dict[k].rename(columns={'Unnamed: 0': 'SECTOR','OTHER PRIMARY_x000d_\n':'OTHER PRIMARY'}, inplace=True)   
    
print(Dict.keys())

# Convert the keys of Dict to only contain the year
for k in list(Dict.keys()):
    k_new = k.split(' - ')[0]
    Dict[k_new] = Dict.pop(k)

    
print('\n')
print(Dict.keys())

#Save the Clean Dictionary in Excel with multi-sheet_names
file_path='../datas/Option_B/Datas_cleaned/Brazil_Energy balance matrix.xlsx'
with pd.ExcelWriter(file_path) as writer:
    for k, df in Dict.items():
        df.to_excel(writer, sheet_name=k)

# Preview the dataframes
df3=Dict['1970']

df3.head()

dict_keys(['1970 - Brazil', '1971 - Brazil', '1972 - Brazil', '1973 - Brazil', '1974 - Brazil', '1975 - Brazil', '1976 - Brazil', '1977 - Brazil', '1978 - Brazil', '1979 - Brazil', '1980 - Brazil', '1981 - Brazil', '1982 - Brazil', '1983 - Brazil', '1984 - Brazil', '1985 - Brazil', '1986 - Brazil', '1987 - Brazil', '1988 - Brazil', '1989 - Brazil', '1990 - Brazil', '1991 - Brazil', '1992 - Brazil', '1993 - Brazil', '1994 - Brazil', '1995 - Brazil', '1996 - Brazil', '1997 - Brazil', '1998 - Brazil', '1999 - Brazil', '2000 - Brazil', '2001 - Brazil', '2002 - Brazil', '2003 - Brazil', '2004 - Brazil', '2005 - Brazil', '2006 - Brazil', '2007 - Brazil', '2008 - Brazil', '2009 - Brazil', '2010 - Brazil', '2011 - Brazil', '2012 - Brazil', '2013 - Brazil', '2014 - Brazil', '2015 - Brazil', '2016 - Brazil', '2017 - Brazil', '2018 - Brazil', '2019 - Brazil', '2020 - Brazil', '2021 - Brazil'])


dict_keys(['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'])

,SECTOR,OIL,NATURAL GAS,COAL,HYDROENERGY,GEOTHERMAL,NUCLEAR,FIREWOOD,SUGARCANE AND PRODUCTS,OTHER PRIMARY,...,KEROSENE/JET FUEL,DIESEL OIL,FUEL OIL,COKE,CHARCOAL,GASES,OTHER SECONDARY,NON-ENERGY,TOTAL SECUNDARIES,TOTAL
1,PRODUCTION,8161.58,1102.24,1044.43,3421.52,NaN,NaN,31851.53,3600.7,223.24,...,1307.21,5674.61,8399.23,55.18,1766.75,465.95,321.73,886.77,31068.07,49405.24
2,IMPORT,17845.05,NaN,1358.47,NaN,NaN,NaN,NaN,NaN,NaN,...,8.19,NaN,NaN,72.42,NaN,NaN,NaN,368.92,937.48,20141.01
3,EXPORT,65.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.91,47.15,748.34,NaN,NaN,NaN,NaN,NaN,920.12,985.17
4,STOCK CHANGE,-277.33,NaN,-167.52,NaN,NaN,NaN,NaN,NaN,NaN,...,-54.86,-42.01,-69.03,-24.83,NaN,NaN,15.41,-53.93,-345.28,-790.13
5,UNUSED,NaN,922.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55.88,50.45,NaN,106.33,1028.54

In [ ]:
sectores = df_matriz["Consumo Final"].unique()
sectores

In [ ]:
import plotly.graph_objects as go
import numpy as np

# Fuentes de energía (columnas "O.T. ...")
fuentes = ["PETRÓLEO", "GAS NATURAL", 
           "CARBÓN MINERAL", "HIDROENERGÍA", "NUCLEAR",
           "OTRAS PRIMARIAS", "LEÑA", "CAÑA DE AZÚCAR Y DERIVADOS"]

# Sectores de consumo (valores únicos en la columna "Consumo Final")
sectores = df_matriz["Consumo Final"].unique()

# Crear listas para guardar los datos del diagrama de Sankey
labels = list(fuentes) + ['REFINERÍAS', 'DESTILERÍA', 'CARBONERAS + CQ. Y A.HORNOS', 'Producción + Importación'] + list(sectores)
source = []  # índices de las fuentes
target = []  # índices de los destinos
value = []  # valores de los flujos
#print(labels)
# Fuentes que pasan por 'Refinerías', 'Destilerías' y 'Carboneras + Cq. y A.Hornos'
REFINERÍAS = ["PETRÓLEO", "GAS NATURAL", "OTRAS PRIMARIAS"]
DESTILERÍA = ["CAÑA DE AZÚCAR Y DERIVADOS", "OTRAS PRIMARIAS"]
CARBONERAS_CQ_AH = ["LEÑA", "CARBÓN MINERAL"]

# Llenar las listas source, target y value para los nodos de las fuentes a 'Refinerías', 'Destilerías', 'Carboneras + Cq. y A.Hornos' o 'Producción + Importación'
for i, fuente in enumerate(fuentes):
    valor = df_matriz.loc[(df_matriz["Consumo Final"] == "PRODUCCIÓN") | (df_matriz["Consumo Final"] == "IMPORTACIÓN"), fuente].sum()
    print(valor)
    if not np.isnan(valor):  # ignorar los valores NaN
        source.append(i)
        if fuente in REFINERÍAS:
            target.append(len(fuentes))  # el índice del nodo de 'Refinerías'
        elif fuente in DESTILERÍA:
            target.append(len(fuentes) + 1)  # el índice del nodo de 'Destilerías'
        elif fuente in CARBONERAS_CQ_AH:
            target.append(len(fuentes) + 2)  # el índice del nodo de 'Carboneras + Cq. y A.Hornos'
        else:
            target.append(len(fuentes) + 3)  # el índice del nodo de 'Producción + Importación'
        value.append(valor)

# Llenar las listas source, target y value para los nodos de 'Refinerías', 'Destilerías' y 'Carboneras + Cq. y A.Hornos' a 'Producción + Importación'
for i, nodo_intermedio in enumerate(['REFINERÍAS', 'DESTILERÍA', 'CARBONERAS + CQ. Y A.HORNOS'], start=len(fuentes)):
    valor = sum(value[j] for j in range(len(source)) if target[j] == i)
    if not np.isnan(valor):  # ignorar los valores NaN
        source.append(i)
        target.append(len(fuentes) + 3)  # el índice del nodo de 'Producción + Importación'
        value.append(valor)

# Llenar las listas source, target y value para los nodos de 'Producción + Importación' a los sectores
for j, sector in enumerate(sectores):
    if sector not in ['PRODUCCIÓN', 'IMPORTACIÓN']:  # ignorar las filas de 'Producción' e 'Importación'
        valor = df_matriz.loc[df_matriz["Consumo Final"] == sector, fuentes].sum().sum()  # sumar todos los valores para este sector
        if not np.isnan(valor):  # ignorar los valores NaN
            source.append(len(fuentes) + 3)  # el índice del nodo de 'Producción + Importación'
            target.append(len(fuentes) + j + 4)  # los índices de los destinos empiezan después del índice de 'Producción + Importación'
            value.append(valor)

# Crear el diagrama de Sankey
fig = go.Figure(data=[go.Sankey(
    node = dict(
        pad = 15,
        thickness = 20,
        line = dict(color = "black", width = 0.5),
        label = labels,
        color = "blue"
    ),
    link = dict(
        source = source,
        target = target,
        value = value
    )
)])

fig.update_layout(title_text="Flujo de energía en Brasil en 2021", font_size=10)
fig.show()

In [ ]:
print(labels)

In [ ]:
print(value)

In [ ]:
import pandas as pd
import plotly.graph_objects as go

# Your provided DataFrame (replace this with your actual DataFrame)
data = {
    'Sector': ['Total supply', 'Charcoal + Coke plants', 'Power plants', 'Refineries', 'Agriculture, fishing and mining',
               'Commercial, services, public', 'Industrial', 'Non-energy consumption', 'Residential', 'Transport'],
    'T.S. Oil derivatives': [133991.0034, 779.919147, 4836.06293, 103076.9073, 7824.915344, 729.0477664, 10479.3774, 13021.03089, 6507.294831, 83101.32841],
    'T.S. Coke + T.S. charcoal': [11839.95104, 10782.29083, 0, 0, 41.58768666, 76.99332425, 11210.49205, 0, 411.7171183, 0],
    'T.S. Oil': [93340.78395, 0, 17485.03836, 93286.20184, 0, 0, 0, 215.9431763, 454.9729604, 1903.19675],
    'T.S. Natural gas': [36350.92151, 7849.84076, 4405.451064, 2583.619259, 261.0762247, 136.7667205, 8417.906755, 0, 0, 0],
    'T.S. Coal': [15917.20896, 0, 31125.0116, 0, 146.1086291, 0, 3497.419671, 0, 0, 0],
    'T.S. Hydroenergy': [31125.0116, 0, 3835.74802, 5589.695694, 0, 0, 0, 716.9382616, 0, 171.5741634],
    'T.S. Nuclear': [3835.74802, 7346.026023, 12826.83057, 0, 3998.099243, 176.9068438, 8568.383586, 12908.60572, 0, 0],
    'T.S. Other primaries': [28037.31631, 0, 56285.46393, 0, 3149.898631, 11346.64162, 17209.25268, 7422.223066, 0, 0],
    'T.S. Electricity': [58267.37059, 7346.026023, 429.4832245, 0, 0, 81.98516279, 7588.335697, 0, 0, 0],
    'S.T. Firewood': [26017.9518, 0, 5782.778991, 49469.74218, 0, 0, 15418.49655, 0, 0, 0],
    'O.T. Sugarcane and products': [49469.74218, 0, 78.46887779, 0, 0, 0, 0, 0, 0, 0]
}

# Create a DataFrame with the appropriate format for the Sankey diagram
df_sankey = pd.DataFrame(data)

# Create a list of all unique sectors including the Total supply
sectors = df_sankey['Sector'].tolist()

# Initialize lists to store the source, target, and value data for the Sankey diagram
source_indices = []
target_indices = []
values = []

# Loop through the DataFrame to extract the data for the Sankey diagram
for idx, col in enumerate(df_sankey.columns[1:]):
    for i, sector in enumerate(sectors):
        source_indices.append(idx)
        target_indices.append(i)
        values.append(df_sankey[col][i])

# Create the Sankey diagram
fig = go.Figure(data=[go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=sectors
    ),
    link=dict(
        source=source_indices,
        target=target_indices,
        value=values
    )
)])

# Customize the layout (optional)
fig.update_layout(
    title_text="Energy Flow in Brazil",
    font=dict(size=10),
)

# Show the Sankey diagram
fig.show()